html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    background-color: #f8f9fa;
  }

.error-content {
    text-align: center;
}

.error-content h1 {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.error-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.lottie-animation {
    max-width: 400px;
    margin-bottom: 2rem;
}