<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head.html :: head}"></head>
<body class="d-flex flex-column min-vh-100">
<div th:insert="~{fragments/header.html :: header}"></div>
<main class="flex-fill bg-body-tertiary">

    <div class="d-flex justify-content-center mt-5 mb-5">

        <div class="card shadow-sm mt-4" style="width: 450px;min-height: 500px;">
            <div class="card-body">
                <h3 class="card-title text-center mb-4">Nuovo Tatuaggio</h3>
                <form action="#" th:action="@{/tatuaggi/savedata}" th:object="${tatuaggio}" method="post" enctype="multipart/form-data">
                    <div class="form group mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nome" th:field="*{nome}" placeholder="Nome tatuaggio">
                    </div>
                    <ul th:if="${#fields.hasErrors('nome')}" class="list-unstyled">
                        <li th:each="err : ${#fields.errors('nome')}" th:text="${err}" class="text-danger"></li>
                    </ul>
                    <div class="form group mb-3">
                        <label for="stile" class="form-label">Stile</label>
                        <select th:field="*{stile}" id="stile" class="form-control">
                            <option th:each="s : ${stili}" th:value="${s}" th:text="${s}"></option>
                        </select>
                    </div>
                    <div class="form group mb-3">
                        <label for="colore" class="form-label">Colore</label>
                        <select th:field="*{colore}" id="colore" class="form-control">
                            <option th:each="c : ${colori}" th:value="${c}" th:text="${c}"></option>
                        </select>
                    </div>
                    <div class="form group mb-3">
                        <label for="immagine" class="form-label">Immagine</label>
                        <input type="file" class="form-control" id="immagine" name="file" placeholder="Immagine tatuaggio">
                    </div>
                    <div th:if="${error}" class="text-danger mb-4">
                        <span th:text="${error}"></span>
                    </div>
                    <button type="submit" class="btn btn-dark w-100">Inserisci</button>
                </form>
            </div>
        </div>
    </div>

</main>
<div th:insert="~{fragments/foot.html :: foot}"></div>
</body>

</html>