<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head.html :: head}"></head>
<body  class="d-flex flex-column min-vh-100">
<div th:insert="~{fragments/header.html :: header}"></div>
<main class="flex-fill">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="GET" th:action="@{/tatuaggi/search}">
                    <div class="input-group mb-3">
                        <select class="form-select" name="parametro" style="max-width: 150px;">
                            <option value="all" th:selected="${parametro == null or parametro == '' or parametro == 'all'}">Tutti</option>
                            <option value="nome" th:selected="${parametro == 'nome'}">Nome</option>
                            <option value="colore" th:selected="${parametro == 'colore'}">Colore</option>
                            <option value="stile" th:selected="${parametro == 'stile'}">Stile</option>
                        </select>
                        <input type="text" class="form-control" name="valore" th:value="${valore}" placeholder="Cerca...">
                        <button class="btn btn-dark" type="submit">Cerca</button>
                    </div>
                </form>
            </div>
            <div th:if="${message != null}">
                <p th:text="${message}" class="text-center text-danger" ></p>
            </div>
        </div>
    </div>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="col-12 text-center" th:if="${#lists.isEmpty(tatuaggi)}" style="min-height: 500px;">
                Nessun tatuaggio trovato
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div th:each="tatuaggio : ${tatuaggi}" class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top"
                             th:src="@{'/immagini/' + ${tatuaggio.immagine}}"
                             alt="Tatuaggio"
                             height="275"
                             width="100%"
                             style="object-fit: cover;"
                        />
                        <div class="card-body">
                            <p class="card-text" >
                                Tatuaggio: <span th:text="${tatuaggio.nome.toUpperCase()}"></span>,<br/>
                                Stile: <span th:text="${tatuaggio.stile}"></span>,<br/>
                                Colore: <span th:text="${tatuaggio.colore}"></span>

                            </p>
                            <div
                                    class="d-flex justify-content-between align-items-center"
                            >
                                <div class="btn-group">
                                    <button
                                            type="button"
                                            class="btn btn-sm btn-outline-secondary"
                                    >
                                        View
                                    </button>
                                    <button
                                            type="button"
                                            class="btn btn-sm btn-outline-secondary"
                                    >
                                        Edit
                                    </button>
                                </div>
                                <small class="text-body-secondary" th:text="${#temporals.format(tatuaggio.data, 'dd/MM/yyyy')}"></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<div th:insert="~{fragments/foot.html :: foot}"></div>
</body>

</html>